@model APP.Models.FootballerResponse

@* Generated from Custom MVC Template (adapted for Footballers). *@

@{
    var containerDivClass = "container";
    ViewData["Title"] = "Footballer Details";
}

<div class="@containerDivClass">
    <h1>@ViewData["Title"]</h1>
    <hr />
</div>

@if (Model is not null)
{
<div class="@containerDivClass">
    @if (TempData["Message"] is not null)
    {
        <p class="text-danger">@TempData["Message"]</p>
    }
    <div class="row mb-3">
        <div class="col-2 fw-bold">@Html.DisplayNameFor(m => m.FullName)</div>
        <div class="col-10">@Html.DisplayFor(m => m.FullName)</div>
    </div>
    <div class="row mb-3">
        <div class="col-2 fw-bold">@Html.DisplayNameFor(m => m.Position)</div>
        <div class="col-10">@Html.DisplayFor(m => m.Position)</div>
    </div>
    <div class="row mb-3">
        <div class="col-2 fw-bold">@Html.DisplayNameFor(m => m.ShirtNumberF)</div>
        <div class="col-10">@Html.DisplayFor(m => m.ShirtNumberF)</div>
    </div>
    <div class="row mb-3">
        <div class="col-2 fw-bold">@Html.DisplayNameFor(m => m.BirthDateF)</div>
        <div class="col-10">@Html.DisplayFor(m => m.BirthDateF)</div>
    </div>
    <div class="row mb-3">
        <div class="col-2 fw-bold">@Html.DisplayNameFor(m => m.National)</div>
        <div class="col-10">@Html.DisplayFor(m => m.National)</div>
    </div>
    <div class="row mb-3">
        <div class="col-2 fw-bold">@Html.DisplayNameFor(m => m.IsInjuredF)</div>
        <div class="col-10">@Html.DisplayFor(m => m.IsInjuredF)</div>
    </div>

    <hr />
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>&nbsp;|&nbsp;
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>&nbsp;|&nbsp;
    <a asp-action="Index">Back to List</a>
</div>
}


